@inherits LayoutComponentBase


@using Middt.Framework.Blazor.Web.Base.Component.Security;

@if (Theme != "default.css")
{
    <link href="_content/Radzen.Blazor/css/@(Theme)" rel="stylesheet" />
}
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<BaseAuthorizeView>
    <Authorized>

        <RadzenHeader>
            <ChildContent>
                <div class="row justify-content-start align-items-center">
                    <div class="col-6 d-flex align-items-center">
                        <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; bodyExpanded = !bodyExpanded; })">
                        </RadzenSidebarToggle>
                        <RadzenLabel Text="Radzen Blazor Components">
                        </RadzenLabel>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div class="d-none d-md-inline-flex align-items-center">
                        </div>
                        <div class="d-none d-md-inline-flex align-items-center">
                            <label class="d-none d-sm-inline-block" style="margin-left: 1rem">Theme:</label>
                            <RadzenDropDown style="margin:0 .5rem" TValue="string" TextProperty="Text" ValueProperty="Value" Data="@themes" Value="@ThemeState.CurrentTheme" Change="@ChangeTheme" />
                        </div>
                        <div class="d-none d-md-inline-flex align-items-center">
                            <RadzenSplitButton Text="@baseTokenHelper.claimsIdentity.Name" Click=@(args => OnUserButtonClick(args, "SplitButton with icon")) Icon="account_circle">
                                <ChildContent>
                                    <RadzenSplitButtonItem Text="Profile" Value="1" Icon="account_box" />
                                    <RadzenSplitButtonItem Text="Logout" Value="2" Icon="account_balance_wallet" />
                                </ChildContent>
                            </RadzenSplitButton>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenHeader>
        <div style="width:100%">
            <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
                <ChildContent>
                    <RadzenContentContainer Name="main">
                        @Body
                    </RadzenContentContainer>
                </ChildContent>
            </RadzenBody>
        </div>
        <RadzenSidebar @ref="@sidebar0" @bind-Expanded="@sidebarExpanded">
            <ChildContent>
                <RadzenPanelMenu>
                    @foreach (var category in examples)
                    {
                        <RadzenPanelMenuItem @bind-Expanded="@category.Expanded" Text="@category.Name" Path="@category.Path" Icon="@category.Icon">
                            @if (category.Children != null)
                            {
                                @foreach (var example in category.Children)
                                {
                                    <RadzenPanelMenuItem Text="@example.Name" Path="@example.Path" Icon="@example.Icon" />
                                }
                            }
                        </RadzenPanelMenuItem>
                    }
                </RadzenPanelMenu>
            </ChildContent>
        </RadzenSidebar>
        <RadzenFooter>
            <ChildContent>
                <RadzenLabel Text="Radzen Blazor Components, Copyright &copy; 2020">
                </RadzenLabel>
            </ChildContent>
        </RadzenFooter>
    </Authorized>
    <NotAuthorized>
        <ReditectToLogin></ReditectToLogin>
    </NotAuthorized>
</BaseAuthorizeView>
